html, body {
	width: 250px;
}
.well {
	background: url('https://wallpaperscraft.com/image/league_of_legends_yasuo_riven_the_exile_the_unforgiven_95697_640x960.jpg') no-repeat center center / 100% 100%;
	width: 100%;
	margin: 0;
}
#container .btn.btn-success {
    min-width: 50px;
}
#container .btn.btn-default {
	min-width: 125px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}